.btn {
  width: 250px;
  height: 38px;
  margin: 0;
  border: none;
  border-radius: 5px;
  transition: 500ms;
}

.forw {
  background-color: var(--color-light-primary);
  transition: 500ms;
  &:hover {
    color: var(--color-dark-primary);
    transition: 500ms;
  } 
}

.back {
  background-color: var(--color-dark-primary);
  color: white;
  transition: 500ms;
  &:hover {
    color: var(--color-light-primary);
    transition: 500ms;
  } 
}

.formInput {
  width: 50%;
}

@media screen and (max-width: 990px) {
  .formInput {
    width: 75%;
  }
}

@media screen and (max-width: 764px) {
  .formInput {
    width: 100%;
  }
}