
.addCartBtn {
  width: 200px;
  height: 38px;
  margin: 0;
  border: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background-color: var(--color-light-primary);
  transition: 500ms;
  &:hover {
    color: var(--color-dark-primary);
    transition: 500ms;
  } 
}

.image {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.carousel {
  border-radius: 50px;
}
