.header {
  position: relative;
}

.image {
  height: 70vh;
  object-fit: cover;
}

.caption {
  bottom: 20%;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 2000px;

  h2 {
    font-size: 3rem;
    font-weight: 700;
    text-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
  }

  p {
    font-size: 1.2rem;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  }
}
