.header {
  position: relative;
}

.image {
  height: 70vh;
  object-fit: cover;
}

.caption {
  margin-bottom: 20px;               
  transform: translateX(-15%);
  width: 100vw;             
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;

  h2 {
    font-size: 3rem;
    font-weight: 700;
    text-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
  }

  p {
    font-size: 1.2rem;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  }
}
