
.btn {
  width: 150px;
  margin: 0;
  height: 38px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-light-primary);
  transition: 500ms;

  &:hover {
    color: var(--color-dark-primary);
    transition: 500ms;
  } 
}

.addCartBtn {
  width: 60px;
  height: 38px;
  margin: 0;
  border: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background-color: var(--color-light-primary);
  transition: 500ms;
  
  &:hover {
    color: var(--color-dark-primary);
    transition: 500ms;
  } 
}

.productImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.cardBody {
  background-color: var(--color-dark-primary);
  color: var(--color-light-primary);
}

.cardFont {
  color: var(--color-light-primary) !important;
}
